<%- include('../partials/header.ejs') %>

<br />
<br />

<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Expenses</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>

      <li class="breadcrumb-item">List</li>
    </ol>
  </div>

  <form action="/admin/expense/add" method="post">
    <input type="hidden" name="id" value="<%=data?data._id:''%>" />

    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        name="productName"
        value="<%=data?data.productName:''%>"
      />
    </div>

    <div class="mb-3">
      <label for="productPrice" class="form-label">Product Price</label>
      <input
        type="number"
        class="form-control"
        name="productPrice"
        value="<%=data?data.productPrice:''%>"
      />
    </div>

    <div class="mb-3">
      <label for="productQuantity" class="form-label">Product Quantity</label>
      <input
        type="text"
        class="form-control"
        name="productQuantity"
        value="<%=data?data.productQuantity:''%>"
      />
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Product Image</label>
      <input
        type="file"
        class="form-control"
        name="image"
        id="image"
        accept="image/png, image/jpg, image/jpeg"
      />
      <img
        id="image-preview"
        src="<%=data?.image?data?.image:''%>"
        alt="Image"
        width="90"
      />
      <input type="hidden" name="old_image" value="<%=data?data?.image:''%>" />
    </div>

    <div class="mb-3">
      <label for="member" class="form-label">Created/Upadted By</label>
      <input type="text" class="form-control" name="member" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var imageInput = document.getElementById("image");
    var imagePreview = document.getElementById("image-preview");

    imageInput.addEventListener("change", function () {
      var file = imageInput.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          imagePreview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      } else {
        imagePreview.src = "";
      }
    });
  });
</script>

<%-include('../partials/footer.ejs') %>
