<%- include('../partials/header.ejs') %>

<br />
<br />

<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Members</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>

      <li class="breadcrumb-item">List</li>
    </ol>
  </div>

  <form action="/admin/member/add" method="post">
    <input type="hidden" name="id" value="<%=data?data._id:''%>" />

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="<%=data?data.name:''%>" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-Mail</label>
      <input type="email" class="form-control" name="email" value="<%=data?data.email:''%>" />
    </div>

    <div class="mb-3">
      <label for="position" class="form-label">Position</label>
      <input type="text" class="form-control" name="position" value="<%=data?data.position:''%>" />
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" name="image" id="image" accept="image/png, image/jpg, image/jpeg" />
      <img id="image-preview" src="<%=data?.image?data?.image:''%>" alt="Image" width="90" />
      <input type="hidden" name="old_image" value="<%=data?data?.image:''%>" />
    </div>

    <div class="mb-3">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here..." name="shortDescription"  value="<%=data?data.shortDescription:''%>"></textarea>
        <label for="shortDescription" class="form-label">Short Description</label>
      </div>
      
     
    </div>

    <div class="mb-3">
      <label for="whatsAppNumber" class="form-label">WhatsApp Name</label>
      <input type="text" class="form-control" name="whatsAppNumber" value="<%=data?data.whatsAppNumber:''%>" />
    </div>

    <div class="mb-3">
      <label for="facebookId" class="form-label">Facebook Id</label>
      <input type="text" class="form-control" name="facebookId" value="<%=data?data.facebookId:''%>" />
    </div>

    <div class="mb-3">
      <label for="instagramId" class="form-label">Instagram Id</label>
      <input type="text" class="form-control" name="instagramId" value="<%=data?data.instagramId:''%>" />
    </div>

    <div class="mb-3">
      <label for="linkedinId" class="form-label">LinkedIn Id</label>
      <input type="text" class="form-control" name="linkedinId" value="<%=data?data.linkedinId:''%>" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var imageInput = document.getElementById("image");
    var imagePreview = document.getElementById("image-preview");

    imageInput.addEventListener("change", function() {
      var file = imageInput.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
          imagePreview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      } else {
        imagePreview.src = "";
      }
    });
  });
</script>

<%-include('../partials/footer.ejs') %>